.App-logo{
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 10px;
}

.items{
  margin-left: auto;
  margin-right: 90px;
  display: flex;
 margin-top: 25px;
 position: relative;
 font-weight: bold;
 color: green;
 margin-bottom: 25px;
    padding: 5px;
    letter-spacing: 2px;
    font-size: 20px;

}
body {
  margin: 0 !important;
}
.navbar{
  display:flex;
    background:#59c4ca;
position: relative;
align-items: center;

}
a {
  color: #FFF;
}
a:hover {
   color: #00F
}
